@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inconsolata:wght@500&family=Lora:wght@400;600&family=Merriweather:ital,wght@1,300&family=Quicksand:wght@300&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
.logo{
    width: 20%;
    float: left;
    margin-top: 20px;
    margin-right: 350px;
}

.logo img{
    width: 20%;
    border: 1px solid aliceblue;
    border-radius: 10%;
    padding: 5px;
}

.nav-list ul{
    list-style: none;
}

 .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav-list li{
    width: 100px;
    text-align: center;
    padding: auto;
    float: left;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}

.nav-list li:hover{
    color: #e28686;
}

.content{
    margin-top: 20px;
    display: flex;
    background-color: #E5A7A5;
}

.left-side{
    color: white;
}

.left-side img{
   width: 150%;
   height: auto; 
   margin-left: 200px;
    margin-top: 50%;
}

.right-side{
    background-color: #fbe9e9;
    margin-left: 27%;
    padding: 10% 5% 10% 10%;
    text-align: center;
}

.right-side h1{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    margin-bottom: 10px;
}

.right-side p{
    font-family: 'Roboto Mono', monospace;
    opacity: 70%;
}

.right-side button{
    background-color: transparent;
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
}

.right-side button:hover{
    background-color: rgb(28, 27, 27);
    color: #fbe9e9;
}

.quality{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 110px;
    margin-bottom: 10px;
}

.quality h3{
    font-family: 'Roboto', sans-serif;
}
.quality p{
    opacity: 70%;
    margin-bottom: 60px;
    font-size: 16px;
}
.quality h3:hover{
    color: #ff6c6c;
}

.first{
    text-align: center;
    font-size: 17px;
}

.second{
    width: 40%;
}

.second img{
    width: 100%;
}

.third{
    text-align: center;
    
}
